{% extends 'ranking/base.html' %}
{% load customtags %}

{% block content %}
    <div class='reviews'>
        {% for user in users %}
        <div class='review_column'>
            {% getReviews user as review_list %}
            {% for review in review_list %}
                <div class='film' id={{ review.film }}>
                    <h2><a class='title' href='{% url 'film' film=review.film %}'>Title</a></h2>
                    <a href='{% url 'film' film=review.film %}'>
                    <img class='poster centre_image' style='width: 100%;'>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
